@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Urbanist:wght@200&display=swap');

/* For mobile phones: */
@media (min-width: 480px) {
    body {
    font-size: 14px;
    background: #f7f7f7;
    color: rgb(0, 0, 0);
    }
    .header1 {
        font-size: 30px;
        background-color:rgb(154, 196, 154);
        padding: 10px;
     }
  }


/*Others devices: Tablet/Laptop/Desktop*/
body {
    font-family: 'Urbanist';
    font-size: 20px;
    color: #000;
    background-color: white;
  } 

.header1 {
    font-size: 30px;
    background-color:rgb(154, 196, 154);
    padding: 10px;
 }

 .Intro {
    grid-column-start: 1;
    grid-column-end: 1;

 }

 .infos {
    display: grid;
    grid-template-columns: min-content 2fr;
 }
